body {
    width: 375px;
    height: 604px;
    display: block;
  }
  
  header {
    width: 375px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    
  }
  .logo{
    height: 40px ;
    width: 100px;
    padding-top: 4px;
    padding-left: 12px;
    padding:10px, 12px, 10px, 12px;
  }
  .mylogo {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    align-items: center;
    
  }
  
  .imagemenuicon {
    width: 24px;
    height: 24px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .headliner {
    background-image: url(/Assets/header-shapes\ mobile@2x.png);
    width: 375px;
    height: 604px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 80px;
    background-size: cover;
    padding-left: 20px;
    padding-top: 114px;
  }
  
  .headlinertext {
    width: 352px;
    height: 110px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 42px;
    color: #172b4d;
  }
  
  .text1 {
    width: 338px;
    height: 160px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #172b4d;
  }
  
  .p2 {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 127px;
    height: 20px;
    gap: 16px;
  }
  
  .socialmedialogos {
    width: 170.17px;
    height: 50px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left:-36px;
  }