body {
    width: 375px;
    height: 604px;
    display: block;
  }
  
  header {
    width: 375px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    
  }
  .logo{
    height: 40px ;
    width: 100px;
    padding-top: 4px;
    padding-left: 12px;
    padding:10px, 12px, 10px, 12px;
  }
  .mylogo {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    align-items: center;
    
  }
  
  .imagemenuicon {
    width: 24px;
    height: 24px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .headliner {
    background-image: url(/Assets/header-shapes\ mobile@2x.png);
    width: 375px;
    height: 604px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 80px;
    background-size: cover;
    padding-left: 20px;
    padding-top: 114px;
  }
  
  .headlinertext {
    width: 352px;
    height: 110px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 42px;
    color: #172b4d;
  }
  
  .text1 {
    width: 338px;
    height: 160px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #172b4d;
  }
  
  .p2 {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 127px;
    height: 20px;
    gap: 16px;
  }
  
  .socialmedialogos {
    width: 170.17px;
    height: 50px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left:-36px;
  }

  .MainSection {
    height: 2700px;
    width: 375px;
    display: grid;
    justify-content: start;
    padding: 10px;
    background-color:  #F7F7F9;
    padding-left: 20px;
    }

  .row-one{
    width: 327px;
    height:  552px;
    padding: 16px;
    border-radius: 16px;
    gap: 12px;
    border: 1px solid #DFE1E6;
  
  }
  .row-two{
    width: 327px;
    height:  552px;
    padding: 16px;
    border-radius: 16px;
    border: 5px;
    gap: 12px;
    border: 1px solid #DFE1E6; 
    
  }
    .row-three{
        width: 327px;
        height:  552px;
        padding: 16px;
        border-radius: 16px;
        border: 1px;
        gap: 12px;
        border: 1px solid #DFE1E6;    
        
    }
    .row-four{
        width: 327px;
        height:  552px;
        padding: 16px;
        border-radius: 16px;
        border: 1px;
        gap: 12px;
        border: 1px solid #DFE1E6;
        
    }
    .portfolio_image{
        width: 322px;
        height: 220px;
        border-radius: 8px;
        padding: 5px;
        padding-left: 2px;
    }
    .t1{
        font-family: poppins, sans-serif;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        margin-top: 6px;
        color: #172b4d;
    }
    .list1{
      display: flex;
      font-family: poppins, sans-serif;
      font-size: 13px;
      font-weight: 600;
      text-align: left;
      justify-content: space-between;
      width: 236px;
      height: 32px;
      margin-top: -20px;
      padding-left: 1px;
      color: #7A869A;
    }
    .Canopy{
      font: weight 700px;
      list-style-type: none;
      color: #344563;
    }
    .para1{
      font-family: poppins,sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #344563;
    }

    .list2{
      display: flex;
      justify-content: space-between;
      font-family: poppins, sans-serif;
      font-size: 13px;
      list-style-type: none;
      color: #6070FF;
      width: 170px;
      height: 32px;
      margin-left: -35px;
    }
    .language{
      border-radius: 5px;
      background-color: #EBEBFF;
      padding:5px;
      padding-top: 7px;
    }
    .bt1{
      width: 126px;
      height: 48px;
      top: 12px;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #6070FF;
      font-family: poppins,sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #6070FF;
    }
    .aboutUS {   
        width: 375px;
        height: 1050px;
        padding: 50px 4px 11px 24px;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 80px;
        
      }
      .aboutMyselftext{
        width: 352px;
        height: 49px;
        font-family: poppins, sans-serif;
        font-weight: 800;
        font-size: 46px;
        line-height: 42px;
        color: #172b4d;
        
      }
      .aboutMyselflinertext{
        width: 338px;
        height: 160px;
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: #172b4d;
        
  
      }
      .bt2{
        width: 170px;
        height: 48px;
        top: 12px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #6070FF;
        font-family: poppins,sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #6070FF;
        background-color: #ffff;
      }
      .skills{
        width: 327px;
        height: 72px;
        padding-top:  20px;
      }
      .langu1{
        display:flex;
        justify-content: space-between;
        width: 327px;
        height: 72px;      
        margin-top: 20px;
        
      }
      .Union{
        width: 12px;
        height: 6px;
        padding-top: 32px;
        padding-right: 10px;
      }
      .l3{
    
        font-family: Poppins,sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 10px;
      }
      .codinglanguages{
        width: 327px;
        height: 72px;
        padding-top:  10px;
        margin-top: 10px;
        padding-left: 10px;
        display: flex;
        background-color: #F7F7F9;
        border-radius: 10px;
        padding-bottom: 10px;
      }
      .codingtext{
        font-family: Poppins,sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 11px;
        padding-left: 25px;
      }
